---
import classNames from "classnames";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<footer class={classNames("py-6 h-fit", className)}>
  <div class="container mx-auto text-center">
    <slot />
  </div>
</footer>
