---
import "../styles/global.css";
import classNames from "classnames";
import { Footer } from "@/components/shared/footer.tsx";
import { NavHeader } from "@/components/shared/nav_header.tsx";
import { AssociatesPage } from "@/components/associates_page";
import { PAGES_CONFIG } from "src/constants/pages.ts"
---

<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Associates</title>
  </head>

  <body class="h-screen flex flex-col">
    <NavHeader />
    <main class="flex-grow">
      <AssociatesPage />
    </main>
    <Footer />
  </body>
</html>
