---
import "../styles/global.css";
import { ServicesPage } from "@/components/services_page";
import { PAGES_CONFIG } from "src/constants/pages.ts"
import { Header } from "@/components/shared/pages/header";
import { Footer } from "@/components/shared/pages/footer";
import { Main } from "@/components/shared/pages/main";

const title = PAGES_CONFIG.services.title
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-screen flex flex-col">
    <Header client:load />
    <Main title={title}>
      <ServicesPage />
    </Main>
    <Footer />
  </body>
</html>
